<%= render 'layouts/header_checkr'%>
<div class="firstblock">
  <div class="container_checkr">
    <div class="first_block_content">

      <div class="firstblock_left">
        <h1>Hire great people. Faster.</h1>
        <p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>

        <button class="dropbtn yellow_bouton">Explore Now</button>
      </div>
      <div class="firstblock_right">
        <video preload="auto" loop="true" autoplay="true">
  					<source src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
        </video>

      </div>

    </div>
  </div>
</div>
<div class="classicblock whitebg">
  <div class="container_checkr">
    <h3>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h3>
    <div class="listing_logo">
      <%= image_tag 'uber.jpg' %>
      <%= image_tag 'instacart.png' %>
      <%= image_tag 'grubhub.png' %>
      <%= image_tag 'postmates.png' %>
      <%= image_tag 'zenefits.gif' %>
      <%= image_tag 'lyft.png' %>
    </div>
  </div>
</div>
<div class="classicblock greybg">
  <div class="container_checkr">
    <h3>The Next Generation of Background Checks</h3>
    <div class="blurb_line">
      <div class="blurb">
        <i class="fas fa-mobile-alt"></i>
        <h4>Mobile-Friendly</h4>
        <p>Create a positive applicant experience with simple, mobile-friendly onboarding</p>
      </div>
      <div class="blurb">
        <i class="fas fa-desktop"></i>
        <h4>Easy to Understand</h4>
        <p>Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report.</p>
      </div>
      <div class="blurb">
        <i class="fas fa-cogs"></i>
        <h4>Convenient Automation</h4>
        <p>Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
      </div>
    </div>
    <div class="blurb_line">
      <div class="blurb">
        <i class="far fa-comments"></i>
        <h4>Simplified and Compliant Communication</h4>
        <p>Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
      </div>
      <div class="blurb">
        <i class="far fa-chart-bar"></i>
        <h4>Fast and Accurate</h4>
        <p>Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
      </div>
    </div>

  </div>
</div>
<div class="classicblock whitebg">
  <div class="container_checkr">
    <h3>Tailored to Fit Your Industry’s Needs</h3>


  </div>
</div>
<div class="classicblock greybg">
  <div class="container_checkr">
    <h3>Best in Class Compliance and Security</h3>

  </div>
</div>
<div class="classicblock whitebg">
  <div class="container_checkr">
    <h3>Information for Applicants</h3>


  </div>
</div>
