<% provide :stylesheets, 'checkr' %> 
<%= render 'layouts/header_checkr'%>
<div class="firstblock">
  <div class="container_checkr">
    <div class="first_block_content">

      <div class="firstblock_left">
        <h1>Hire great people. Faster.</h1>
        <p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>

        <button class="dropbtn yellow_bouton">Explore Now</button>
      </div>
      <div class="firstblock_right">
        <video preload="auto" loop="true" autoplay="true">
  					<source src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
        </video>

      </div>

    </div>
  </div>
</div>
<div class="classicblock whitebg">
  <div class="container_checkr">
    <h3>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h3>
    <div class="listing_logo">
      <%= image_tag 'uber.jpg' %>
      <%= image_tag 'instacart.png' %>
      <%= image_tag 'grubhub.png' %>
      <%= image_tag 'postmates.png' %>
      <%= image_tag 'zenefits.gif' %>
      <%= image_tag 'lyft.png' %>
    </div>
  </div>
</div>
<div class="classicblock greybg">
  <div class="container_checkr">
    <h3>The Next Generation of Background Checks</h3>
    <div class="blockline">
      <div class="blurb">
        <i class="fas fa-mobile-alt"></i>
        <h4>Mobile-Friendly</h4>
        <p>Create a positive applicant experience with simple, mobile-friendly onboarding</p>
      </div>
      <div class="blurb">
        <i class="fas fa-desktop"></i>
        <h4>Easy to Understand</h4>
        <p>Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report.</p>
      </div>
      <div class="blurb">
        <i class="fas fa-cogs"></i>
        <h4>Convenient Automation</h4>
        <p>Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
      </div>
    </div>
    <div class="blockline">
      <div class="blurb">
        <i class="far fa-comments"></i>
        <h4>Simplified and Compliant Communication</h4>
        <p>Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
      </div>
      <div class="blurb">
        <i class="far fa-chart-bar"></i>
        <h4>Fast and Accurate</h4>
        <p>Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
      </div>
    </div>

  </div>
</div>
<div class="classicblock whitebg">
  <div class="container_checkr">
    <h3>Tailored to Fit Your Industry’s Needs</h3>
    <div class="blockline">
      <div class="imageblock">
        <div class="imageblock_text">
          <p>The THP school up to 3.3 m and to 306 kg. From Today until the first of Marstember.</p>
        </div>
      </div>
      <div class="imageblock">
        <div class="imageblock_text">
          <p>Ca dépend, ca dépasse.</p>
        </div>
      </div>
      <div class="imageblock">
        <div class="imageblock_text">
          <p>THP thpTHP thp THP thp THP THP thp THP thp THP THP thp THP </p>
        </div>
      </div>
      <div class="imageblock">
        <div class="imageblock_text">
          <p>Robert !!!! Il faut muscler ton jeu ! Sinon tu vas au devant de grandes déconvenues.</p>
        </div>
      </div>
    </div>
    <div class="blockline">
      <div class="imageblock">
        <div class="imageblock_text">
          <p>Charles et Felix.</p>
        </div>
      </div>
      <div class="imageblock">
        <div class="imageblock_text">
          <p>C'est bieng.</p>
        </div>
      </div>
      <div class="imageblock">
        <div class="imageblock_text">
          <p>Alleeeeeeeezzzzz l'OOOMMMMM !!! </p>
        </div>
      </div>
      <div class="imageblock">
        <div class="imageblock_text">
          <p>QUoi ? tu lis tous les détails , même ca ? </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="classicblock greybg">
  <div class="container_checkr">
    <h3>Best in Class Compliance and Security</h3>
    <div class="blockline">
      <div class="blurb_v2">
        <div class="blurb_v2_top">
          <div class="blurb_leftpart">
              <i class="far fa-chart-bar"></i>
          </div>
          <div class="blurb_rightpart">
            <p>Screenings</p>
            <li>Criminal Records</li>
            <li>Driving Records</li>
            <li>Employment Verifications</li>
            <li>International Verifications</li>
            <li>Drug screening</li>
          </div>
        </div>
        <div class="blurb_v2_bottom">
        REVIEW ALL OF CHECKR’S SCREENING SERVICES
        </div>
      </div>

      <div class="blurb_v2">
        <div class="blurb_v2_top">
          <div class="blurb_leftpart">
              <i class="far fa-chart-bar"></i>
          </div>
          <div class="blurb_rightpart">
            <p>Compliance</p>
            <li>CCompliant with state and federal laws, including FCRA</li>
            <li>NAPBS accreditation</li>
            <li>Experienced in-house compliance and investigation team</li>
          </div>
        </div>
        <div class="blurb_v2_bottom">
        VISIT OUR COMPLIANCE LEARNING CENTER
        </div>
      </div>

      <div class="blurb_v2">
        <div class="blurb_v2_top">
          <div class="blurb_leftpart">
              <i class="far fa-chart-bar"></i>
          </div>
          <div class="blurb_rightpart">
            <p>Screenings</p>
            <li>Criminal Records</li>
            <li>Driving Records</li>
            <li>Employment Verifications</li>
            <li>International Verifications</li>
            <li>Drug screening</li>
          </div>
        </div>
        <div class="blurb_v2_bottom">
        REVIEW ALL OF CHECKR’S SCREENING SERVICES
        </div>

      </div>
    </div>
  </div>
</div>
<div class="classicblock whitebg">
  <div class="container_checkr">
    <h3>Information for Applicants</h3>
    <div class="blockline">
      <div class="block">
        <h4><strong>Checkr provides the support you deserve.</strong></h4>
        <ul style="padding-bottom:20px";>
        <li>Responsive U.S.-based customer service</li>
        <li>Status tracking available through the applicant portal</li>
        <li>Support available by phone or email</li>
        </ul>
        <p><a href="https://applicant.checkr.com/">VISIT CHECKR’S APPLICANT PORTAL</a></p>
      </div>

      <div class="block">
        <p style="font:'Merriweather',sans-serif !important, color: #808080; line-height: 1.3; text-indent: -0.65em; font-size: 1.3em; ">
          “First of all, thank you for informing me of the progress regarding your process. That is not only professional but exemplifies a degree of courtesy other companies would be smart to model.”</p>
        Peter D.
        <br>Grubhub applicant
      </div>
    </div>
  </div>
</div>
<div class="bluebg">
  <div class="container_checkr">
    <div class="prefooter">
      <div style="width:40%;">
        <%= image_tag 'checkr-fake-promo.png' %>
      </div>
      <div style="width:40%;">
        <h2>Take a Tour</h2>
        See why Checkr is the most reliable option for your background check needs.
      </div>
      <div>
        <button class="dropbtn yellow_bouton">Schedule a demo</button>
      </div>

    </div>
  </div>
</div>


<footer>
  <div class="container_checkr blockline">
		<div class="column">
		<h4>Product</h4>
			<ul class="menu">
        <li><a href="https://checkr.com/product/">Overview</a></li>
        <li><a href="https://checkr.com/product/screenings/">Screenings</a></li>
        <li><a href="https://checkr.com/product/compliance/">Compliance</a></li>
        <li><a href="https://checkr.com/product/security/">Security</a></li>
        <li><a href="https://docs.checkr.com/">API &amp; Docs</a></li>
      </ul>
  	</div>

		<div class="column">
			<h4>Industries</h4>
			<div class="deuxcolonnes">
      <ul>
        <li class="menu-overview"><a href="https://checkr.com/industries/">Overview</a></li>
        <li><a href="/">Contact Centers</a></li>
        <li><a href="/">Financial Services</a></li>
        <li><a href="/">Retail &amp; Hospitality</a></li>
        <li><a href="https://checkr.com/industries/healthcare/">Healthcare</a></li>
        <li><a href="https://checkr.com/industries/nonprofit/">Non-Profit</a></li>
      </ul>
      <ul>
        <li><a href="/">Manufacturing</a></li>
        <li><a href="/">Software &amp; Technology</a></li>
        <li><a href="/">Small Business</a></li>
        <li><a href="/">P2P Marketplaces</a></li>
        <li><a href="/">Higher Education</a></li>
        <li><a href="/">Staffing</a></li>
      </ul>
      </div>
    </div>

		<div class="column">
			<h4>Resources</h4>
			<ul class="menu">
        <li class="menu-overview"><a href="https://checkr.com/resources/">Overview</a></li>
        <li class="menu-white-papers"><a href="https://checkr.com/resources/white-papers/">White Papers</a></li>
        <li class="menu-faq"><a href="https://checkr.com/resources/faq/">FAQ</a></li>
        <li class="menu-blog"><a href="http://blog.checkr.com/">Blog</a></li>
        <li class="menu-engineering-blog"><a href="https://medium.com/checkr">Engineering Blog</a></li>
        <li class="menu-applicant-portal"><a href="https://applicant.checkr.com/">Applicant Portal</a></li>
      </ul>
    </div>

		<div class="column">
			<h4>Company</h4>
			<ul class="menu">
        <li class="menu-partners"><a href="https://checkr.com/partners/">Partners</a></li>
        <li class="menu-partner-lead-portal"><a href="http://info.checkr.com/checkr-partner-portal">Partner Lead Portal</a></li>
        <li class="menu-about-us"><a href="https://checkr.com/about/">About Us</a></li>
        <li class="menu-bounce-back-to-work"><a href="https://checkr.com/bounce-back-to-work/">Bounce Back to Work</a></li>
        <li class="menu-careers"><a href="https://checkr.com/careers/">Careers</a></li>
        <li class="menu-press"><a href="https://checkr.com/press/">Press</a></li>
      </ul>
    </div>

		<div class="column">
			<h4>Connect</h4>
			<ul>
				<li><a href="mailto:hello@checkr.com">hello@checkr.com</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="/get-started">Get Started</a></li>
				<li><a href="https://dashboard.checkr.com/login?next=%2Freports" target="_blank">Log In</a></li>
			</ul>
				<div class="entry-social-connect">
								<a target="_blank" href="Https://twitter.com/checkr" title="Checkr on Twitter" class="twitter">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/icon_twitter.svg">
			</a>
								<a target="_blank" href="Https://www.facebook.com/checkrio/" title="Checkr on Facebook" class="facebook">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/facebook.svg">
			</a>
								<a target="_blank" href="Https://www.linkedin.com/company/checkr-com" title="Checkr on Linkedin" class="linkedin">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/linkedin.svg">
			</a>
								<a target="_blank" href="Https://www.instagram.com/checkr_" title="Checkr on Instagram" class="instagram">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/instagram.svg">
			</a>
								<a target="_blank" href="Https://angel.co/checkr" title="Checkr on Angellist" class="angellist">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/angellist.svg">
			</a>
			</div>
		</div>

  </div>
	<div class="footer-info">
		<ul>
			<li><a href="/customer-agreement">ON S'EN BALEC ! production</a></li>
			<li><a href="/privacy-policy">Privacy Policy</a></li>
			<li><a href="/terms-of-service">Terms of Service</a></li>
			<li><a>© 2018 Nico THP, Inc.</a></li>
		</ul>
	</div>

</footer>
