<div class="container_thp">

    <div class="box_connection">

        <% unless user_signed_in? %>
            <div class="box_connection_left">
                <H1><b>THP school</b></H1>
                <h3>Et coder devient + simple</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <hr>
                <ul>
                  <li><i class="far fa-envelope"></i>Un seul formulaire
                  </li>
                  <li><i class="fas fa-child"></i>Gérer facilement vos candidatures
                  </li>
                  <li><i class="fas fa-cloud"></i>Stockez vos données THP
                  </li>
                </ul>
            </div>

            <div class="box_connection_right">
                <div class="box_connection_right_top">
                      <H2>Se connecter</h2>
                      <%= form_tag new_user_session_path do %>
                        <%= text_field_tag 'user[email]', value="Adresse Email" %>
                        <%= password_field_tag 'user[password]', value="Mot de passe" %>
                        <%= check_box_tag 'user[remember_me]'%>
                        <%= label_tag 'user[remember_me]', 'Se souvenir de moi' %>
                        <br><br>
                        <%= submit_tag 'Se connecter'%>
                       <% end %>
                       <br><br>
                       <%= link_to "Mot de passe oublié ?", new_user_password_path %><br/>
                </div>
                <div class="box_connection_right_bottom">
                      <%= link_to "Vous ne possédez pas de compte ?", new_user_registration_path%>
                </div>

            </div>
        <% else%>
            <p> Vous êtes connectés ! <%= current_user.email %>
            <br> Vous êtes contents ?
            </p>
        <% end %>

    </div>

</div>
