<div class="container_thp">

    <div class="box_connection">

        <div class="box_connection_left">
            <H1><b>THP school</b></H1>
            <h3>Et coder devient + simple</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <hr>
            <ul>
              <li><i class="far fa-envelope"></i>Un seul formulaire
              </li>
              <li><i class="fas fa-child"></i>Gérer facilement vos candidatures
              </li>
              <li><i class="fas fa-cloud"></i>Stockez vos données THP
              </li>
            </ul>
        </div>

        <div class="box_connection_right">

          <div class="box_connection_right_top">
              <h2>Se connecter</h2>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.email_field :email, autofocus: true, placeholder: "Adresse email" %>
                </div>

                <div class="field">
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe"  %>
                </div>

                    <% if devise_mapping.rememberable? -%>
                      <div class="field remember">
                        <%= f.check_box :remember_me %>
                        <%= f.label :"Se souvenir de moi" %>
                      </div>
                    <% end -%>

                <div class="actions">
                  <%= f.submit "Se connecter" %>
                </div>
                <br>
                <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br />
                <% end %>
          </div>

          <div class="box_connection_right_bottom">
                <%= link_to "Vous ne possédez pas de compte ?", new_registration_path(resource_name) %><br />
          </div>

        </div>

    </div>

</div>
