<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="navbar-toggleable-md bg-faded">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Accueil", '/' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "#{current_user.email}", edit_user_registration_path %>
          </li>
          <li><%= link_to "Checkr", home_checkr_path %>
          </li>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
          </li>
        <% else%>
          <li><%= link_to "Se connecter" , new_user_session_path %>
          </li>
          <li><%= link_to "S'inscrire" , new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
